<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid px-4">
        <a class="navbar-brand" href="#">RRecipe<img src="/images/IconLarge.png"
                style="max-width: 40px; max-height: 40px;"></a>
        <a class="navbar-brand" href="#">Signed In as <%= currentUser.firstName %></a>
        <div class="justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="btn btn-success" href="/logout">Log Out</a>
            </div>
        </div>
    </div>
</nav>